@import "barns_mixins";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* responsive container */
.section_container, .main_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    // color:#fff;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

@media (min-width: 576px){
    .section_container ,.main_container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .section_container {
        max-width: 720px;
    }
    .main_container{
        max-width: 740px;
    }
}
@media (min-width: 868px){
    .main_container{
        max-width: 840px;
    }
}
@media (min-width: 991px){
    .section_container, .main_container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .main_container {
        max-width: 1140px;
    }
    .section_container{
        max-width: 1065px;
}
.container_pad{
    padding: 0px 80px;
}
}
@media (min-width: 1360px){
.main_container {
    max-width: 1265px;
}

}
@media (min-width: 1600px){
.section_container  {
    max-width: 1250px;
}
.main_container  {
    max-width: 1400px;
}
}
/* main grid */
.grid{
    display: -moz-grid;
    display: grid;
}
    /* main flex */
.flex{
    display: -webkit-flex;
    display: flex;
}
.wrap{
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
}
  
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html {
    scroll-behavior: smooth;
  }
a,
a:hover {
    text-decoration: none;
} 
a, button, input, select, textarea{
    @include transition(all 0.3s);
    &:focus{
        @include transition(all 0.3s);
        @include outline(none);
        @include box-shadow(none);
    }
}
// nav 
header{
    .nav_bg{
        background: hsla(40, 55%, 100%, 0.95);
        // background: hsl(40, 55%, 52%);
        .dropdown_width{
            max-width: 252px;
        }
    }
 
    nav.nav{
        a, button{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #082933; 
        }
        .get_intouch{
            background: #C89B41; 
            @include border(1px solid #C89B41);
            &:hover{
                @include transition(all 0.2s);
                background: #fff;
                @include border-radius(4px);
                color:hsl(40, 55%, 32%);
            }
        }
    }
    .service_drop{
        a{
            svg{
                path{
                    fill:hsla(194, 73%, 32%);
                }
            }
            p{
                color:hsla(194, 73%, 22%, 0.8); 
                color:hsla(174, 9%, 32%, 1); 
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
            }
        }
        .in_touch{
            background: #C89B41; 
            background:hsl(40, 55%, 52%);
            color:hsl(40, 55%, 96%);
            @include border-radius(2px);
        }
    }
}
// landing page 
// hero 
.hero_bg{
       // content-visibility:auto;
       padding: 45px 0;
       background-image:url("../../public/images/bg/landing_hero.svg");
       background-repeat:  no-repeat;
       background-color: linear-gradient(0deg, hsl(120, 45%, 98%), hsl(120, 45%, 98%));
       background-size: cover;
       background-position: center center;
       min-height: calc(100vh - 112px);
       .contact_form{
        //    max-width: 400px;
        //    width:100%;
           form{
            .form_inputs{
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                column-gap: 50px;
            }
              label{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #082933; 
                margin-bottom: 12px;
              } 
              input, textarea, select{
                width:100%;
                padding: 14px;
                background: #E9EEF0;
                @include border(1px solid #E9EEF0);
                @include transition(all 0.3s);
                &:focus{
                    @include transition(all 0.3s);
                    @include border-radius(4px);
                    background: #fff;
                    @include border(1px solid #C89B41);

                }
              }
              textarea{
                  min-height: 180px;
              }
              button{
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #082933; 
                background: #C89B41;
                @include transition(all 0.2s);
                @include border(1px solid #C89B41);
                svg{
                    @include transition(all 0.2s);
                   left: 0; 
                }
                &:hover{
                    @include transition(all 0.2s);
                    background: #fff;
                    @include border-radius(4px);
                    color:hsl(40, 55%, 32%);
                    svg{
                        @include transition(all 0.2s);
                        left: 3px; 
                        path{
                            fill:hsl(40, 55%, 32%);
                        }
                     }
                }
                &:focus{
                    @include transition(all 0.2s);
                    background: hsl(40, 55%, 92%);
                    @include border-radius(4px);
                    color:hsl(40, 55%, 32%);
                   
                }
              }
           }
       }
       .hero_content{
           &.contact{
            max-width: 476px; 
           }
           max-width: 576px;
           flex-basis: 300px;
           .hero_grid{
               grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
               column-gap: 20px;
               p{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 23px;
                color: #33444A; 
               } 
               .flex_item{
                flex-basis: 250px;
                max-width: 264px;
               }
           }
           h5{
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 72px;
            color: #082933;
            span{
                color:#C89B41;
            }
           }
           p{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            color: #33444A;  
           }
           a{
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            @include transition(all 0.2s);
            color: #082933; 
            background: #C89B41;
            @include border(1px solid #C89B41);
            svg{
                @include transition(all 0.2s);
                left:0;
            }
            &:hover{
                @include transition(all 0.2s);
                background: #fff;
                @include border-radius(4px);
                color:hsl(40, 55%, 32%);
                svg{
                    @include transition(all 0.2s);
                    left: 5px;
                    path{
                        fill:hsl(40, 55%, 32%);
                    }
                }
            }
           }
       }
       .hero_img{
           max-width: 400px;
           flex-basis:250px ;
           width:100%
       }
}
.benefits_bg{
    background: #F7FCF7;
    .top_flex{
        h5{
            max-width: 228px;
            flex-basis: 227px;
            font-style: normal;
            font-weight: 600;
            font-size: 34px;
            line-height: 55px;
            color: #082933; 
        }
        p{
            max-width: 664px;
            flex-basis: 330px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            color: #33444A; 
        }
    }
    .flex_body{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        column-gap: 30px;
        .flex_item{
            max-width: 264px;
            h4{
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 34px;
                color: #082933; 
                margin-bottom: 10px;
            }
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #33444A; 
            }
        }
    }
}
// capabilities
.capability{
    .top_flex{
        h5{
            max-width: 228px;
            flex-basis: 227px;
            font-style: normal;
            font-weight: 600;
            font-size: 34px;
            line-height: 55px;
            color: #082933; 
        }
        p{
            max-width: 664px;
            flex-basis: 330px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            color: #33444A; 
        }
        .capability_item{
            max-width: 664px;
            flex-basis: 330px;
        }
        .bg_image{
            left:-270px;
            bottom: -35px;
        }
    }
    .inner_flex{
        h4{
            max-width: 239px;
            flex-basis: 200px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            color: #082933; 
        }
        .inner_content{
            max-width: 358px;
            max-width: 372px;
            flex-basis: 300px;

            p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #33444A; 
            }
            .inner_content_grid{
                grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
                p{
                    flex-basis:140px ;
                    max-width: 160px;
                    width:100%;
                }
            }
        }
    }
}
// FAQ
.faq_section{
    max-width: 820px;
    width:100%;
    margin: auto;
    h4{
        font-style: normal;
        font-weight: 600;
        font-size: 37px;
        line-height: 55px;
        color: #082933;
          
    }
    .accordion_container{
        .accordion{
            @include border-bottom ( 1px solid #C3D0D5);
          
            button{
                padding-top: 1.25rem;
                padding-bottom: 1.25rem;
                span{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 135.5%;
                    color: #082933; 
                }
            }
            .item_inner{
                height: 0;
                overflow-y: hidden;
                opacity:0.2;
                @include transition (all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275));
                // transition-timing-function: ease-out;
                // transition: all 1s;
                @include transition (all 0.6s ease-out);
            }
            &.open{
                .item_inner{
                    @include transition (1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all);
                    // max-height: 300px;
                    opacity:1;
                    overflow-y: hidden;
                    height: auto;
                    @include transition (all 0.6s ease-in);
                }
            }
        }
    }
}
// footer 
// get in touch 
.get_intouch_bg{
    background: #C89B41;
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #33444A; 
        margin-bottom: 16px;
    }
    a{
        font-style: normal;
        font-weight: bold;
        font-size: 39px;
        line-height: 58px;
        color: #082933; 
        svg{
            @include transition(all 0.25s);
            left:8px; 
        }
        @include transition(all 0.25s);
        &:hover{
            color:hsl(194, 33%, 22%);
            @include transition(all 0.25s);
            svg{
                @include transition(all 0.25s);
                left:12px; 
                path{
                    fill:hsl(194, 33%, 22%);
                    stroke:hsl(194, 33%, 22%);
                }
             }
        }
    }
}
footer{
    background: #082933;
    color:#fff;
    .seo_content{
        padding-top: 50px;
        padding-bottom: 10px;
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #6F868D; 
            margin-bottom: 8px;
        }
    }
    h4{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    .links{
        flex-basis: 180px;
        max-width: 180px;
        ul li a{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            // margin-bottom: 16px; 
            display: inline-block;
            position: relative;
            &:after{
                position: absolute;
                content:"";
                width:0%;
                @include transition(all 0.3s);
                @include border-bottom(1px solid hsl(194, 73%, 72%));
                @include border-bottom(1px solid #566970);
                @include border-bottom(1px solid hsl(196, 13%, 60%));
                left:0;
                bottom:0;
            }
            &:hover{
                &:after{
                    width:100%;
                    @include transition(all 0.3s); 
                }
            }
        }
    }
    .location{
        flex-basis: 290px;
        max-width: 290px;
        .socials{
            a{
                svg path{
                    @include transition(all 0.2s); 
                }
                &:nth-of-type(1){
                    &:hover svg path{
                        @include transition(all 0.2s); 
                        fill:#3b5998;
                    }
                }
                &:nth-of-type(2){
                    &:hover svg path{
                        @include transition(all 0.2s); 
                        fill:#cd486b;
                    }
                }
                &:nth-of-type(3){
                    &:hover svg path{
                        @include transition(all 0.2s); 
                        fill:#1DA1F2;
                    }
                }
                &:nth-of-type(4){
                    &:hover svg path{
                        @include transition(all 0.2s); 
                        fill:#0e76a8;
                    }
                }
                &:nth-of-type(5){
                    &:hover svg path{
                        @include transition(all 0.2s); 
                        fill:#FF0000;
                    }
                }
            }
        }
    }
    .email{
        flex-basis: 290px;
        max-width: 290px;
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;            
        }
        a{
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px; 
            &:after{
                position: absolute;
                content:"";
                width:100%;
                @include transition(all 0.3s);
                @include border-bottom(1px solid #fff);
                left:0;
                bottom:0;
            }
            &:hover{
                &:after{
                    width:0%;
                    @include transition(all 0.3s); 
                }
            }
           
        }
    }
    .copyright{
        @include border-top(1px solid #566970);
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px; 
        }
    } 
}
@media only screen and (max-width:1400px){
    .capability .top_flex .bg_image{
        width:600px;
    }
}
@media only screen and (max-width: 1070px){
    .capability .top_flex .bg_image {
        width: 510px;
    }
    .hero_bg .contact_form form .form_inputs{
        column-gap: 30px;
    }
}
@media only screen and (max-width: 991px){
.hero_bg .hero_content h5 {
    font-size: 44px;
    line-height: 64px;
}
    .capability .top_flex{
        .bg_image {
            position: relative;
            width: auto;
            left: auto;
            bottom: -100px;
        }
        .inner_content{
            max-width: 600px;
            .inner_content_grid {
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                p {
                    flex-basis: 190px;
                    max-width: 200px;
                }
            }
            
        }
    }
}
@media only screen and (max-width:767px){
    .capability .inner_flex h4 {
        flex-basis: 220px;
    }
    .benefits_bg .flex_body .flex_item{
        img{
            width: 100px;
            height: 100px;
        } 
    }
    .hero_bg{
        .hero_img{
            max-width: 100%;
            // margin: auto;
            margin-top: 10px;
            justify-content:flex-end;
            img{
                max-width: 400px; 
            }
        }
    }
} 

@media only screen and (max-width:500px){
    .hero_bg{
        .hero_content h5 {
            font-size: 38px;
            line-height: 56px;
        }
    }
}
@media only screen and (max-width:425px){
    .get_intouch_bg a {
        font-size: 28px;
        line-height: 38px;
    }
    .hero_bg{
        .hero_content{
            h5 {
                font-size: 34px;
                line-height: 48px;
            }
            a {
                font-size: 18px;
            }
        }
        .hero_img img {
            max-width: 290px;
        }
    }
}